# Mini Project-2

In [10]:
import pandas as pd
temp_df = pd.DataFrame({
    "city":["Hyderbad","Viaywada","Vishakapatnam","Bangalore"],
    "temperature":[32,45,30,35]
})
temp_df

            city  temperature
0       Hyderbad           32
1       Viaywada           45
2  Vishakapatnam           30
3      Bangalore           35

In [11]:
temp_df.temperature.min()

np.int64(30)

In [12]:
temp_df.temperature.max()

np.int64(45)

In [13]:
temp_df.temperature.mean()

np.float64(35.5)

In [14]:
temp_df.temperature.std()

np.float64(6.658328118479393)

In [15]:
temp_df.temperature.var()

np.float64(44.333333333333336)

In [16]:
temp_df.temperature.count()

np.int64(4)

In [17]:
temp_df.temperature.sum()

np.int64(142)

In [18]:
temp_df.temperature.describe()

count     4.000000
mean     35.500000
std       6.658328
min      30.000000
25%      31.500000
50%      33.500000
75%      37.500000
max      45.000000
Name: temperature, dtype: float64